/* ---------------
   fonts
--------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* ----------------------
Common design and utilities 
----------------------- */
body{
    font-family: 'Poppins', sans-serif;
    color: #3A3A3A;
    margin: 0;
}

a{ 
    text-decoration: none;
}
.container{
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}
.link-button{
    text-decoration: none;
    color: white;
    background-color: #E02C6D;
    border-radius: 41px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 10px 24px;
    display: inline-block;

}
.fa-arrow-right{
    margin-left: 8px;
}
/*------------------
   heading part
 ---------------- */
.logo-text h3{
    
    font-size: 24px;
    margin-top: 87px;
    margin-left: 120px;
    margin-bottom: 50px;
}

/* ------------
  prebook part
  ---------- */
.prebook{
    margin: 50px 120px;
}
.prebook-text{
    width: 582px;
    height: 276px;
    margin-right: 133px;
}
.prebook-text h1{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 16px;
    margin-top: 0;
}
.prebook-text p{
    width: 505px;
    height: 60px;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 16px;
    text-align: justify;
    
}
.camera-image-bg img{
    width: 475px;
    height: 475px;
}
.camera-image img{
   position:absolute;
   top: 190px;
   width: 445px;
   height: 414px;
      
}


/* -----------------
  popular collection
  --------------- */
.popular-collection{
    width: 1047px;
    margin: 0 196px 100px 196px;
}
.popular-text{
    text-align: center;
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 64px;
}
.popular-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
.popular-item{
    width: 329px;
    height: 476px;
    /* border: 1px solid gray; */
    border-radius: 5px;
    box-shadow: 0 0 40px rgb(182, 175, 175);
}

.popular-item img{
    width: 90%;
    margin: 17px 15px;
}

.item-description{
    margin: 0px 15px 17px 15px;
   
}

.item-title{
    color:#18191F;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 6px;
}
.item-info{
    font-family: 'Inter', sans-serif;
    color: #787885;
}

.item-price{
    color: rgb(20, 143, 20);
    size: 24px;
}
.item-rating{
    font-size: 14px;
    font-weight: 700;
    margin-top: 3px;
    margin-bottom: 8px;
}
.filled{
    font-size: 10px;
    color: #FB8200;
}
.not-filled{
    color: lightgray;
    font-size: 10px;
}

.item-rating-number{
    margin-left: 8px;
}
.item-availability{
    font-size: 14px;
    font-weight: 700;
}
.item-availability p{
    margin: 0 0 6px 0;
}
.see-more{
    color: #E02C6D;
    font-size: 16px;
    font-weight: bold;
    text-align: right;
    margin-top: 20px;
}

/* ----------------
 about us
 --------------- */
.about-us{
  margin: 0 165px 100px 165px;
   width: 1110px;
   
}
.about-us-image img{
   width: 450px;
   height: 340px;
}
.about-us-text{
    padding: 0 71px;
}
.about-us-text h1{
    font-size: 38px;
    margin-top: 0;
    margin-bottom: 8px;
    font-weight: 700;
}
.about-us-text p{
    font-size: 16px;
    font-weight: 700;
    color: #6C6C6C;
    margin-bottom: 16px;
    text-align: justify;
    font-family: 'Inter', sans-serif;
}


/*----------------
  footer 
----------------*/
footer{
    background-color: #0A0826;
    color: white;
    padding: 10px 589px;
}
   .footer-information{
   width: 262px;
   height: 139px;
   color: #D9DBE1;
   font-size: 12px;
   font-weight: bold;
   text-align: center;
}
.footer-information h3{
    font-size: 24px;
    margin: 10px 0 5px 0;
}
.fab{
    margin: 0px 8px;
    font-size: 15px;
}

/* ------------
Responsive
------------ */

/* mobile device */
@media (max-width:688px) {
    .logo-text h3{
        font-size: 16px;
        text-align: center;
        margin: 35px 0 22px 0 ;
    }
    .prebook{
        width: 100%;
        margin: 0;
    }
    .container{
        margin: 0;
        flex-direction: column;
    }
   
   .container>.prebook-text{ order: 2;}
   
   .prebook-text{
        width: 100%;
        margin: 0;
        text-align: center;
    }
   .prebook-text h1{
       width: 100%;
        font-size: 28px;
        margin-top: 14px;
        margin-bottom: 16px;
        text-align: center;
    }
    .prebook-text p{
        width: 90%;
       margin: 16px 20px 20px 20px;
        font-size: 14px;
        text-align: center;
    }
    
    .container>.prebook-image{ order: 1;}
    
    .camera-image-bg img{
        width: 240px;
        height: 257px;
    }
    .camera-image img{
        position:absolute;
        top: 110px;
        width: 200px;
        height: 190px;
           
    }
     
    .popular-collection{
        margin: 0;
        width: 100%;
    }
    .popular-text{
        font-size: 16px;
        margin-bottom: 20px;
        margin-top: 30px;

    }
    .popular-items{
        width: 100%;
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
    }
    .see-more{
        width: 90%;
        margin-right: 10%;
        margin-bottom: 50px;
      
    }

    .about-us{
       
         width: 100%;
         margin: 0;
        
    }

    .about-us-image img{
        width: 310px;
        height: 180px;
     }
     .about-us-text{
         width: 100%;
        padding: 0;
        text-align: center;
    }
    .about-us-text h1{
        width: 100%;
        font-size: 24px;
        margin-top: 0;
        margin-bottom: 8px;
        font-weight: 700;
        text-align: center;
    }
    .about-us-text p{
        width: 90%;
        font-size: 16px;
        font-weight: 700;
        color: #6C6C6C;
        margin: 0 20px 25px 20px;
        text-align: center;
        font-family: 'Inter', sans-serif;
    }

    footer{
        width: 100%;
        background-color: #0A0826;
        color: white;
        padding: 10px;
        margin-top: 50px;
    }
       .footer-information{
       width: 100%;
       color: #D9DBE1;
       font-size: 12px;
       font-weight: bold;
       text-align: center;
    }
    .footer-information h3{
        width: 100%;
        font-size: 16px;
        margin: 20px 0px 5px 0px;
        text-align: center;
    }
}